
.user {
    min-width: 20%;
    max-width: 40%;
    display: flex;
    margin: 10px auto;
    border-radius: 10px;
}

.userAva img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 7px;
}

.userLink {
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 5px;
}

.button {
    height: 25px;
    font-size: 15px;
}

.toMessageButton {
    margin-bottom: 3px;
}

.unfollowButton {
    margin-bottom: 3px;
}

.followButton {
    margin-bottom: 3px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}


