
.message {
    padding: 7px;
    display: flex;
}

.senderName {
    color: #D3D3D3;
    font-size: 16px;
}

.text p {
    word-break: break-word;
    color: white;
}

.senderAva {

}

.senderAva img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.messageContent {
    padding-left: 5px;
    flex: 40;
}

.time {
    padding-top: 5px;
    color: #D3D3D3;
    font-size: 14px;
}

.deleteMessage {
}

.deleteMessage p {
    color: #D3D3D3;
    font-size: 20px;
    cursor: pointer;
}