* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #333336;
    border-radius: 5px;
    margin-bottom:10px;
    padding: 5px 5px;
    display: flex;
}

.postText p {
    word-break: break-word;

}

.avaPost img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.postContent {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    flex: 50;
}

.dateTime p{
    padding-top: 5px;
    font-size: 14px;
}

.deletePost {
    float: right;
    flex: 1;
}

.deletePost button {
        background-color: Transparent;
        border: none;
        cursor:pointer;
}

.deletePost p {
    color: #D3D3D3;
    font-size: 20px;
}

.deletePost p:hover {
    color: white;
}

.name p{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
}