* {
    margin: 0;
    padding: 0;
}

.postBox {
    border: 2px solid darkcyan;
    border-radius: 12px;
    margin-top: 1%;
    display: flex;
}

.postText {
    color: khaki;
}

.value {
    color: coral;
}

.postLikeValue {

}

.avaPost img {
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 50px;
}

.postContent {
    padding-left: 10px;
}