.usersPage {
    margin: 0 auto;
    width: 100%;
}

.user {
    min-width: 200px;
    max-width: 40%;
    display: flex;
    background-color: #333336;
    margin: 10px auto;
    border-radius: 10px;
}

.user:hover{
    background-color: #444446;
}

.userAva img {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

.userLink {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}

.button {
    height: 25px;
    font-size: 15px;
    cursor: pointer;
}

.toMessageButton {
    min-width: 50px;
    max-width: 70px;
    margin-bottom: 3px;
    background-color: #D3D3D3;
    border-radius: 4px;
}

.unfollowButton {
    min-width: 50px;
    max-width: 70px;
    margin-bottom: 3px;
    background-color: #D3D3D3;
    border-radius: 4px;
}

.followButton {
    min-width: 50px;
    max-width: 70px;
    margin-bottom: 3px;
    background-color: #D3D3D3;
    border-radius: 4px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.pageNumber {
    padding: 3px;
    cursor: pointer;
}

.selectedPage {
    color: gold;
    font-weight: bold;
    border-bottom: 1px solid gold;
}

.selectingPageMenu {
    color: #D3D3C9;
    text-align: center;
    padding-top: 10px;
}

.followedStatus {
    color: #D3D3D3;
}

.usersList {
}

.usersList h2 {
    text-align: center;
    color: #D3D3D3;
}

.searchUsersForm {
    padding-bottom: 20px;
    margin-right: 1%;
    text-align: right;
    display: flex;
}

.searchTextArea {
    flex: 20;
    padding-right: 5px;
}

.searchButtonWrap {
}

.searchButton {
    background-color: #D3D3D3;
    border-radius: 4px;
    cursor: pointer;
}

.inputSearchText {
    height: 20px;
    width: 40%;
    max-width: 250px;
    resize: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #444446;
}


