.wrapper {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    min-height: calc(100vh - 88px);
    align-items: center;
    justify-content: center;
}

.authorisation h3 {
    text-align: center;
}

.authorisation {
    min-width: 350px;
    color: #D3D3D3;
    padding-left: 5px;
    background-color: #333336;
    max-width: 45%;
    border-radius: 10px;
}

.entryButton {
    margin-top: 5px;
    text-align: center;
}


.entryButton button {
    background-color: #D3D3D3;
    border-radius: 4px;
    cursor: pointer;
}

.registration h3 {
    text-align: center;
}

.registration {
    min-width: 350px;
    color: #D3D3D3;
    padding-left: 5px;
    background-color: #333336;
    max-width: 45%;
    border-radius: 10px;

}


.regButton {
    margin-top: 5px;
    text-align: center;
}

.regButton button {
    background-color: #D3D3D3;
    border-radius: 4px;
    cursor: pointer;
}


.authLink {
    padding-bottom: 5px;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
}

