.container {
    width: 1600px;
    margin: 0 auto;
    flex-wrap: wrap;
    background: #fff;
    display: flex;
    color: #171717;
}

.main {
    display: flex;
    margin: 0 auto;
    width: 100%;
}


.authorisation_block {
    height: calc(100% - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.authorisation_center {
    background: #333336;
    width: 500px;
    border-radius: 10px;
}

.autoReg {

}


.authorisation h3 {
    text-align: center;
}

.authorisation {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    color: #D3D3D3;
    padding-left: 5px;
    background-color: #333336;
    max-width: 45%;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 70px;;
}

.entryButton {
    margin-top: 5px;
    text-align: center;
}

.imgLoadWrap {
}

.registration h3 {
    text-align: center;
}

.registration {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    color: #D3D3D3;
    padding-left: 5px;
    background-color: #333336;
    max-width: 45%;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 70px;
}


.regButton {
    margin-top: 5px;
    text-align: center;
}

.regButton button {
    background-color: #D3D3D3;
    border-radius: 4px;
    cursor: pointer;
}


.authLink {
    padding-bottom: 5px;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
}

.addImg {
}

.loadedImg {
    width: 80px;
}

.summaryErrorBar {

}