.friendsPage {
    margin: 0 auto;
    width: 100%;
    background-color: darkslategray;
}

.friend {
    min-width: 20%;
    max-width: 40%;
    display: flex;
    background-color: grey;
    margin: 10px auto;
    border-radius: 10px;
}

.friendAva img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 7px;
}

.friendLink {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}

.button {
    height: 25px;
    font-size: 15px;
}

.toMassageButton {
    margin-bottom: 3px;
}

.deleteFromFriendsButton {
    margin-bottom: 3px;
}

.addOnFriendsButton {
    margin-bottom: 3px;
}

.friendInfo {
    display: flex;
    flex-direction: column;
}