.friendsPage {
    margin: 0 auto;
    width: 100%;
}

.pageNumber {
    padding: 3px;
    cursor: pointer;
}

.selectedPage {
    color: gold;
    font-weight: bold;
    border-bottom: 1px solid gold;
}



.searchFriends {
    text-decoration: none;
    color: black;
}
.selectingPageMenu {
    color: #D3D3C9;
    text-align: center;
    padding-top: 10px;
}

.searchFriendsButtonWrap {
    text-align: right;
    padding-bottom: 20px;
    margin-right: 1%;
}

.usersListArea {
    text-align: center;
    color: #D3D3D3;
}

.searchFriendsButton {
    margin-bottom: 3px;
    background-color: #D3D3D3;
    border-radius: 4px;
}

.usersListArea h2 {
    color: #D3D3D3;
}
