
.wrapper {
    padding: 8px;
    display: flex;
}

.wrapper:hover {
    background-color: #444446;
}

.wrapper:hover .deleteMessage {
    opacity: 1;
}

.senderLink {
    text-decoration: none;
    color: #D3D3D3;
    font-size: 16px;
}

.text p {
    word-break: break-word;
    font-size: 16px;
    color: white;
}

.senderAva img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.messageContent {
    padding-left: 5px;
    flex: 40;
}

.time {
    padding-top: 5px;
    color: #D3D3D3;
    font-size: 14px;
}

.deleteMessage {
    opacity: 0;
}

.deleteMessage button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.deleteMessage p {
    color: #D3D3D3;
    font-size: 20px;
}

.deleteMessage p:hover {
    color: white;
}

