
.dialogsPage {
    width: 100%;
    display: flex;
    color: #CCD2CA;
}

.dialogList {
    flex: 3;
    margin-left: 5px;
}

.messageBar {
    display: flex;
    flex-direction: column;
    background-color: #333336;
    flex: 10;
}

.messageBar textarea {
    margin-right: 5%;
    margin-left: 5%;
    max-width: 100%;
    max-height: 60px;
    resize: none;
    color: #ffffff;
    background-color: #444446;
}

.messageBar button {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 7px;
}

.sendMessageButton {
    background-color: #D3D3D3;
    border-radius: 4px;
    cursor: pointer;
}

h2 {
    color: #D3D3D3;
}
