.wrapper {
    display: flex;
    margin-bottom: 10px;
}

.messagesBar {
    display: flex;
    flex-direction: column;
    background-color: #333336;
    flex: 10;
    height: calc(100vh - 110px);
}

.messagesList {
    height: 100%;
    padding-bottom: 5px;
    overflow-y: scroll;
}

.messagesList::-webkit-scrollbar {
    width: 5px;
}

.messagesList::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 5px;
}

.dialogList {
    flex: 3;
    margin-left: 5px;
    text-align: center;
}

.dialogsBar {
    margin: 0 auto;
}

.noMessagesMessage {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 100px;
}


.sendMessageForm {
    display: flex;
    flex-direction: column;
}

.sendMessageForm textarea {
    margin-right: 5%;
    margin-left: 5%;
    max-width: 100%;
    min-height: 60px;
    max-height: 100px;
    resize: none;
}

.sendMessageForm button {
    margin-right: 35%;
    margin-left: 35%;
}

.sendMessageButton {
    background-color: #D3D3D3;
    border-radius: 4px;
    cursor: pointer;
}

h2 {
    color: #D3D3D3;
}