
.dialogsPage {
    width: 100%;
    display: flex;
}

.dialogList {
    background-color: darkcyan;
    flex: 3;
}

.messageBar {
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    flex: 10;
}

.messageBar textarea {
    margin-right: 5%;
    margin-left: 5%;
    max-width: 100%;
    max-height: 60px;
}

.messageBar button {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 7px;
}

.addDialogButton {
    cursor: pointer;
}

.sendMessageButton {
    cursor: pointer;
}
