.errorText {
    color: red;
    font-size: 14px;
}

.inputBar {
    display: flex;
    flex-direction: column;
}

.authRegInputs {
    min-width: 100px;
    max-width: 95%;
    background-color: #444446;
    border-radius: 5px;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.authRegInputs:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0 30px #444446 inset !important;
    -webkit-text-fill-color: #FFFFFF;
}