* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: skyblue;
}

.logo {
    margin: 3px;
    width: 50px;
    border: 3px solid darkslategray;
    border-radius: 50%;
}

.logo img {
    width: 50px;
}
