.profileInfo {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.ava {
    flex: 1;
    background-color: bisque;
}

.ava img {
    width: 130px;
    border: 2px solid grey;
    border-radius: 45%;
}

.userData {
    flex: 10;
    background-color: blueviolet;
    padding-left: 10px;
    padding-top: 10px;
}