
.myPosts {
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    padding-left: 10px;
    padding-right: 10px;
}

.addPostButton {
    margin-left: 38%;
    margin-right: 38%;
}

.inputPostText {
    margin-bottom: 5px;
}