
.myPosts {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    color: #CCD2CA;
}

h2 {
    color: #D3D3D3;
}

.addPostButton {
    margin-left: 40%;
    margin-right: 40%;
    min-width: 120px;
    background-color: #D3D3D3;
    border-radius: 4px;
    cursor: pointer;
}

.addPostForm{
    display: flex;
    flex-direction: column;
}

.addPostForm textarea {
    max-width: 100%;
    min-height: 70px;
    max-height: 100px;
}

.inputPostText {
    min-height: 70px;
    margin-right: 1%;
    margin-left: 1%;
    resize: none;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    background-color: #444446;
}