.profileInfoWrap {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    background-color: #333336;
}

.profileInfo {
    display: flex;
}

.ava {
    flex: 1;
}

.ava img {
    max-width: 150px;
    max-height: 150px;
}

.userData {
    flex: 10;
    padding-left: 10px;
    padding-top: 10px;
    color: #CAD2CA;
}

.name {
    color: #ffffff;
    padding-bottom: 5px;
}

.changeAvaButton {
    background-color: #D3D3D3;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modalName {
    text-align: center;
    flex: 1;
}

.choiceFile {}

.modalName p {
    color: white;
}

.modalContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #333336;
    min-height: 200px;
    min-width: 200px;
}

.addImgInput {
    background-color: #444446;
    flex: 5;
    margin: 0 auto;
    color: #D3D3C9;
    cursor: pointer;
    border-radius: 5px;
}

.submitInput {
    flex: 1;
    max-width: 85px;
    max-height: 25px;
    margin-left: 37%;
    margin-right: 37%;
    bottom: 0;
}

.changeAvaStatus {
    flex: 1;
    margin: 0 auto;
    color: #D3D3C9;
    padding-bottom: 5px;
}

.loadedImg {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 200px;
}
