.profileInfo {
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    background-color: #333336;
}

.ava {
    flex: 1;
}

.ava img {
    width: 130px;
}

.userData {
    flex: 10;
    padding-left: 10px;
    padding-top: 10px;
    color: #CAD2CA;
}
.name {
    color: #ffffff;
    padding-bottom: 5px;
}