
.dialogs {
    width: 100%;
    display: flex;
}

.dialogList {
    background-color: chocolate;
    flex: 3;
}

.massageBar {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    flex: 10;
}

.massageBar textarea {
    margin-right: 5%;
    margin-left: 5%;
    max-width: 100%;
    max-height: 60px;
}

.massageBar button {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 7px;
}
