* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: teal;
    flex: 1;
}

.navItem {

    margin-bottom: 5px;

}

.link {
    color: whitesmoke;
    text-decoration: none;
}

.activeLink {
    color: gold;
}

.logoutButton {
    border-radius: 5px;
    background-color: grey;
}